<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hubble="http://www.sharper.cc/hubble"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.sharper.cc/hubble http://www.sharper.cc/hubble/hubble.xsd">


    <!-- hubble的注册分支 线上zk的地址 -->
    <hubble:registry id="hubbleRegistry"  protocol="hubbleRegistry" address="101.200.145.47" />


    <!--  会从注册中心获取地址和端口 -->
    <hubble:server id="hubble" protocol="hubble"/>

    <!--  测试类-->
    <bean id="providerImpl" class="cc.sharper.test.ProviderImpl"> </bean>
    <hubble:provider id="firstRpc" interface="cc.sharper.test.IProvider" ref="providerImpl" alias="test001"/>

</beans>