<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">Hubble后台</a>
        </div>

        <div class="profile" >
            <div class="profile_pic" >
                <img src="/resources/gentelella/images/imgJd.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info" >
                <span>欢迎,</span>
                <h2>管理员</h2>
            </div>
        </div>
        <br>
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <h7>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h7>
            <div class="menu_section">
                <ul class="nav side-menu"  style="margin-top: 0px;">
                    <li><a><i class="fa fa-edit"></i> 开户管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/openAccount/list">开户查询</a></li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-edit"></i> 开户管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/openAccount/list">开户查询</a></li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-edit"></i> 开户管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/openAccount/list">开户查询</a></li>
                        </ul>
                    </li>


                    <li><a><i class="fa fa-edit"></i> 开户管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/openAccount/list">开户查询</a></li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-edit"></i> 开户管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/openAccount/list">开户查询</a></li>
                        </ul>
                    </li>




                </ul>
            </div>
        </div>
    </div>
</div>

