<?xml version='1.0' encoding='UTF-8' ?>
<configuration scan="false" scanPeriod="60000" debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{64} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/export/Logs/sewer.jd.local/keeper.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/export/Logs/sewer.jd.local/keeper.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{128} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.jd.jr.sewer.netty" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.jd.jr.sewer.netty.handler.market.MarketHeartbeatHandler" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.jd.jr.sewer.netty.handler.app.AppHeartbeatHandler" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.jd.jsf" level="ERROR" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>